input[type=radio] {
  border: 0px;
  width:2em;
  height: 2em;
  margin:15px;
}


.chFont{
  font-family: 'Noto Sans TC', sans-serif;
  font-size:100px;
}



.App {
  height: 100%;
  width: 100%;
  background-color: darkgray;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  margin-top:25px;
  
}

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100px;
  position: fixed;
  bottom: 50px;
}

.card {
  width: 200px;
  height: 200px;
  border:solid 1px black;
  box-shadow: 5px 5px 8px rgba(29, 29, 29, 0.5);
}

.card:hover{
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.dataBar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  gap: 50px;
  font-size:2em;
}
.gameContainer {
  display: grid;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
